[Desktop Entry]
Encoding=UTF-8
Name=SelaCoin
Comment=SelaCoin P2P Cryptocurrency
Comment[fr]=SelaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SelaCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/selacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/selacoin;
Categories=Office;
