[Desktop Entry]
Encoding=UTF-8
Name=SelaCoin Core
Comment=SelaCoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem SelaCoin peer-to-peer Netzwerk
Comment[fr]=SelaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SelaCoin, eşten eşe kriptografik sanal para birimi
Exec=selacoin-qt %u
Terminal=false
Type=Application
Icon=selacoin128
MimeType=x-scheme-handler/selacoin;
Categories=Office;Finance;
