[Unit]
Description=SelaCoin's distributed currency daemon
After=network.target

[Service]
User=selacoincore
Group=selacoincore

Type=forking
PIDFile=/var/lib/selacoind/selacoind.pid
ExecStart=/usr/bin/selacoind -daemon -pid=/var/lib/selacoind/selacoind.pid \
-conf=/etc/selacoincore/selacoin.conf -datadir=/var/lib/selacoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
